/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
p{
    line-height: 1.5px;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style:none;
}
body{
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* layout */
.section{
    padding: 20px;
}
.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    /* debug */
}
.text-center{
    text-align:center;
}

/* HEADER */
.header {
    background-color: #255ee9;
    /* debug */
}
.raw{   
    display: flex;
}
.col-big{
     width: 50%;
}
.col{
   width:25%;
}
.list{
    display: flex;
    gap: 20px;
    color: white;
}
.buttonlogin{
    display: inline-block;
    padding: 5px;
    text-align: center;
    width: 80px;
    height: 30px;
    color: rgb(3, 0, 0);
    background-color:#fbfbfc;
    border-radius: 30px;
}
/* BANNER */
.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    color: white;
    text-align: center;
    
}
.titolo{
    padding: 50px 0px;
    text-align: center;

}
.mac{
    padding: 20px;
    text-align: center;
    color: rgb(3, 0, 0);
    background-color:#fbfbfc;
    border-radius: 25px;
    margin-right: 10px;

}
.brow{
    margin-left: 10px;
    padding: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:#000000;
    border-radius: 25px;

}
.rawdiscord{
    display: flex;
    padding: 40px;
    margin: 0 auto;
}
.col-banner{
    display: flex;
    width: 55%;
    max-width: 1100px;
    margin: 0 auto;
}

/* SEZIONI CENTRALI */
/* PRIMA SEZIONE */
.first-section{
    background-color: white;
padding: 20px 0;
/* DEBUG */

}
.first-raw{
    display: flex;
    /* DEBUG */
    
    
}
.first-col-big{
    width: 70%;
  
}
.first-col-small{
    width: 30%;
}
/* SECONDA SEZIONE */
.reverse{
    flex-direction: row-reverse;
}
.second-section{
    background-color: rgb(76, 75, 75);
padding: 20px 0;
}
/* SEZIONE GRANDE */
.mac-button{
    padding: 20px;
    text-align: center;
    color: rgb(253, 251, 251);
    background-color:#7676be;
    border-radius: 25px;
    width: 20%;
    margin: 0 auto;
}
/* footer */
.footer-container{
    background-color: black;
}
.footer-raw{
    display: flex;

}
.footer-col{
width: calc(70% / 4);
}
.footer-bigcol{
    width: 30%;

   
}
.titoloviola{
    color: #7676be;
}
.italiano{
    display: flex;
    color: white;
    align-items: center;

}
.flag{
    width: 30px;
}
.simbol-list{
    display: flex;
    gap: 15px;
    color: white;

}
/* seconda lista */
.link-lista{ color: white;
    padding: 10px;
}
.titolo-lista{
    color: #7676be;
    padding: 10px;
}
/* final-container */
.final-container{
    background-color: black;
}
.final-raw{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.final-col{
    text-align: center;
    padding: 14px;
}
.registrati{
    text-align: center;
    color: rgb(253, 251, 251);
    background-color:#7676be;
    border-radius: 25px;
}